<% provide(:title, "Affiliated Page") %>

<body>
	<%= render 'layouts/header' %>
	<div class="row"><br></div>
	<%= Recipe.find(1).name%>
	<div class="row title">
		<h1>Our partner apps</h1>
	</div>
	<div class="row"><br></div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<%= link_to image_tag("foodnotes.png", alt: "Food Note",class: "foodnotes") %>
			<h2>Keep track of your food waste, in terms of... MONEY</h2>
			<hr>
			<h1>
				iPicky
			</h1>
			<h2>Use the grouped list when planning avoid buying food that no one wants to eat.</h2>
		</div>
	</div>
</body>
